# [실습1 : 5 ~ 8p]

## 01. 리스트

### 1) 리스트 생성 / 타입 확인

* 리스트 생성

In [ ]:
a = []
b = ["yello", "red", "white"]
c = [1, 2, 3, 4, 5]
d = [1, 2, 3, "yello", 4]

* 리스트 값, 타입 출력 (a, b)

In [ ]:
print(a)
print(type(a))

print(b)
print(type(b))

* list() 함수로 리스트 생성 후 값, 타입 출력하기

In [ ]:
a = list()

print(a)
print(type(a))

* list() 함수로 문자열 리스트 타입으로 변경하기

In [ ]:
a = list("Hello")

print(a)
print(type(a))

### 2) 리스트 인덱싱

* 0번, 3번째, 마지막 요소 인덱싱

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(a[0])
print(a[-1])
print(a[2])

### 3) 리스트 슬라이싱

* 1) 처음부터 2번째 자리까지 슬라이싱
* 2) 두번째 자리부터 끝까지 슬라이싱
* 3) 세번째 자리부터 여섯번째 자리까지 슬라이싱
* 4) 홀수만 슬라이싱
* 5) 전체 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(a[:2])
print(a[1:])
print(a[2:6])
print(a[::2])
print(a[:])

* 음수인덱스
* 1) 우측에서 7번째부터 3번째까지
* 2) 우측에서 7번째부터 끝까지
* 3) 처음부터 마지막 3번째까지
* 4) 마지막 2개
* 5) 우측부터 왼쪽으로 차례로

In [ ]:
print(a[-7:-2])
print(a[-7:])
print(a[:-2])
print(a[-2:])
print(a[::-1])

# [실습2 : 9 ~ 11p]

### 4) 리스트 요소 값 변경

* 리스트 요소 값 변경(인덱싱:한개 요소 변경) : 8번째 값을 11로 변경 후 출력

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

a[8] = 11
print(a)

* 리스트 요소 값 변경(슬라이싱:여러개 요소 변경) : 두번째부터 4번째까지를 변경

In [ ]:
a[1:4] = [21, 22, 23]
print(a)

* 리스트 요소 값 변경(슬라이싱:한개를 여러개 요소로 변경)

In [ ]:
a[4:5] = [31, 32, 33]
print(a)

* 리스트 요소 값 변경(인덱싱:한개를 여러개 요소로 변경)

In [ ]:
a[7] = [41, 42, 43]
print(a)

### 5) 리스트 요소 값 삭제

* 리스트 요소 삭제 : del (인덱싱:첫번째 요소 삭제)

In [ ]:
del a[0]
print(a)

* 리스트 요소 삭제 : del (슬라이싱:두번째부터 3번째 요소 삭제)

In [ ]:
del a[1:3]
print(a)

* 리스트 요소 삭제 : 빈 리스트로 삭제

In [ ]:
a[1:2] = []
print(a)

# [실습3 : 11 ~ 13p]

### 6) 리스트 요소 값 연결하기

* 리스트 연산하기 : 요소 값 연결하기

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)

* 리스트 연산하기 : 요소 값 반복하기

In [ ]:
print(a * 2)

### 7) 이중 리스트

* 이중 리스트 생성

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a)

* 이중 리스트 인덱싱 : 첫번째 요소, 4번째 요소

In [ ]:
print(a[0])
print(a[3])

* 이중 리스트 인덱싱 : 4번째 요소의 두번째 요소

In [ ]:
print(a[3][1])

* 삼중 리스트 인덱싱 : "python" 추출

In [ ]:
a = [1, 2, ['a', 'b', ['hello', 'python']]]

print(a[2][2][1])

* 이중 리스트 슬라이싱 : 처음부터 5번째 자리까지

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 'hello', 'python']

print(a[0:5])

* 이중 리스트 슬라이싱 : 'a','b' 추출하기

In [ ]:
print(a[3][:2])

### 8) 리스트 컴프리헨션

In [ ]:
points = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print([n / 2 for n in points])

print([n for n in points if n > 60])

print([n / 2 for n in points if n > 60])

# [실습3 : 14p]

## 02. 리스트 관리

### 1) 삽입

In [ ]:
# 예제) append() : 한 개의 요소 추가 후 출력

a = [1, 2, 3, 4, 5] 
a.append(6)
print(a)

In [ ]:
# 예제) append() : 리스트로 두개의 요소 추가 후 출력

a.append([7,8])
print(a)

In [ ]:
# 예제) insert() : 한 개의 요소를 특정 위치에 추가 후 출력

a.insert(3,11)
print(a)

In [ ]:
# 예제) insert() : 리스트로 두개의 요소 특정 위치에 추가 후 출력

a.insert(2,[21,22])
print(a)

In [ ]:
# 예제) extend() : 리스트 요소를 요소로 추가하는 함수

a.extend([31,32,33])
print(a)

# [실습4 : 15p]

### 2) 삭제

* remove() : 인수로 전달받은 요소값을 찾아 처음 발견한 요소만 삭제함. 없을 경우 오류 발생
* pop() : 삭제한 요소를 꺼내 리턴함, 인수없이 지정 시 -1값으로 작동하여 마지막 요소를 삭제함
* del() : 순서값을 지정햐여 삭제함, 법위삭제 가능, 파이썬의 키워드로 리스트 객체 함수가 아님
* clear() : 리스트의 모든 요소를 삭제함

In [ ]:
# 예제) remove() : 인자로 주어진 값과 동일한 요소 중 첫번째 요소 삭제

a = ["a", "b", "c", "d", "e", "f", "g", "h", "i","a", "b", "c"]
a.remove("a")
print(a)

In [ ]:
# 예제) pop() : 위치값에 의한 삭제, 삭제한 요소를 꺼내 리턴함
#                인수없이 지정 시 -1값으로 작동하여 마지막 요소를 삭제함

a.pop(2)
print(a)

In [ ]:
# 예제) del : 함수가 아닌 명령어로 인덱싱, 슬라이싱으로 삭제 가능

del(a[2])  # del a[2], del(a[2]) 동일함
print(a)

del a[3:5]
print(a)

In [ ]:
# 예제) clear : 리스트 요소 모두 삭제

a.clear()
print(a)

# [실습5 : 16p]

### 3) 검색

* 문자열의 검색 함수와 거의 유사함
* index() : 특정 요소의 위치를 찾아 리턴하는 함수이며, 없을 경우 에러 발생
* count() : 특정 요소값의 갯수를 리턴하는 함수
* len() : 리스트 요소의 갯수를 리턴하는 내장 함수
* min() : 리스트 최소값을 리턴하는 내장 함수
* max() : 리스트 최대값을 리턴하는 내장 함수
* in, not in : 요소의 포함여부를 확인하여 True, False를 리턴하는 연산자

In [ ]:
# 예제) index() : 특정 요소의 위치값을 리턴 ("c" 찾기)

a = ["a", "b", "c", "d", "e", "f", "g", "h", "i","a", "b", "c"]
print(a.index("c"))

In [ ]:
# 예제) index() : 특정 요소의 위치값을 리턴 ("z" 찾기) - 오류발생

a = ["a", "b", "c", "d", "e", "f", "g", "h", "i","a", "b", "c"]
print(a.index("z"))

In [ ]:
# 예제) index("찾고자하는 문자열", 시작위치값)
# 특정 요소의 위치값을 리턴 (5번째 요소 이후에 있는"c" 찾기)

print(a.index("c",4))

In [ ]:
# 예제) count() : 인자값 포함 요소의 갯수 리턴

print(a.count("b"))

In [ ]:
# 예제) len() : 리스트내 요소의 갯수 리턴

print(len(a))

In [ ]:
# 예제) min(), max() : 리스트내 최소값, 최대값

a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(min(a))
print(max(a))

In [ ]:
# 예제) in, not in : 리스트내 포함여부 확인하여 True, False 리턴

print("d" in a)
print("d" not in a)

# [실습6 : 17p]

## 4) 정렬

* sort() : 요소를 크기순으로 재배열하여 결과값 저장함  
기본은 오름차순으로 정렬하고, reverse = True를 지정하면 내림차순으로 정렬함
* reverse() : 요소의 순서를 반대로 하여 결과값 저장함
* sorted() : 내장 함수로 원본 리스트는 그대로 두고 정렬된 새로운 리스트를 리턴하는 함수로  
새로운 리스트를 생성하는 변수로 대입받아야 함  
reverse 옵션은 sort() 함수와 동일함

In [ ]:
# 예제) sort() : 소팅한 결과값을 저장함

a = [1, 2, 3, 9, 8, 7, 6, 5, 4]
a.sort()
print(a)

In [ ]:
# 예제) sort(reverse=True) : 소팅한 결과값을 내림차순으로 저장함

a = [1, 2, 3, 9, 8, 7, 6, 5, 4]
a.sort(reverse=True)
print(a)

In [ ]:
# 예제) reverse() : 요소의 순서를 뒤집어줌

a = [1, 2, 3, 9, 8, 7, 6, 5, 4]
a.reverse()
print(a)

In [ ]:
# 예제) sorted() : 소팅만 하고 값은 변하지 않음

a = [1, 2, 3, 9, 8, 7, 6, 5, 4]
print(sorted(a))

In [ ]:
# 예제) sorted(reverse=True) : 소팅만 역순으로 하고하고 값은 변하지 않음

a = [1, 2, 3, 9, 8, 7, 6, 5, 4]
print(sorted(a,reverse=True))

print(a)

In [ ]:
# 예제) sort() : 오류 발생 예제

e = [1, 2, 3, "a", "b", "c"]
e.sort()

print(a)

In [ ]:
# 예제) sort() : 요소의 타입을 맞춘 후 소팅

e = ["1", "2", "3", "a", "b", "c"]
e.sort()

print(e)

# [실습7 : 18 ~ 19p]

## 03. 튜플

### 1) 불변 자료 집합

* 튜플의 선언 및 생성

In [ ]:
a = ()
b = ("yello", "red", "white")
c = (1, 2, 3, 4, 5)
d = (1, 2, 3, "yello", 4)
e = 1, 2, 3, 4, 5
f = (1,)
g = (1)

* 튜플 값, 타입 출력

In [ ]:
print(a)
print(type(a))

print(b)
print(type(b))

print(c)
print(type(c))

print(d)
print(type(d))

print(e)
print(type(e))

print(f)
print(type(f))

print(g)
print(type(g))

### 2) 튜플로 가능한 일

In [ ]:
# 예제) 튜플 인덱싱 (두번째, 마지막 요소 각각 인덱싱 후 출력)

a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(a[1])
print(a[-1])

In [ ]:
# 예제) 튜플 슬라이싱 (두번째부터 5번째 요소까지 슬라이싱)

print(a[1:5])

In [ ]:
# 예제) 튜플 연산자 + : a (1,2,3), b(4,5,6) 더하기

a = (1, 2, 3)
b = (4, 5, 6)

print(a + b)

In [ ]:
# 예제) 튜플 연산자 * : a (1,2,3) * 2 : 2번 반복

a = (1, 2, 3)
print(a * 2)

In [ ]:
# 예제) 여러 변수를 한번에 초기화 : nums에 1,2,3 튜플 생성 후

nums = 1, 2, 3
print(nums)

In [ ]:
# 예제) 여러 변수를 한번에 초기화 : nums의 값을 a, b, c에 대입 후 각각 출력

a, b, c = nums
print(a)
print(b)
print(c)

In [ ]:
# 예제) a와 b 값을 swap 하기 : a=1, b=2

a = 1
b = 2

a, b = b, a

print(a)
print(b)

In [ ]:
# 예제) 리턴 값을 여러개 반환

def calc(a,b):
    return a+b, a-b, a*b, a/b

print(calc(6,2))

a, b, c, d = calc(6,2)
print(a)
print(b)
print(c)
print(d)

In [ ]:
# 튜플 사용 불가 (수정) -> 에러 발생

a = (1, 2, 3)
a[2] = 4

In [ ]:
# 튜플 사용 불가 (삭제) -> 에러 발생

a = (1, 2, 3)
del a[2]

# [실습8 : 20 ~ 21p]

### 3) 튜플 메서드

* 문자열의 검색 함수와 거의 유사함
* index() : 특정 요소의 위치를 찾아 리턴하는 함수이며, 없을 경우 에러 발생
* count() : 특정 요소값의 갯수를 리턴하는 함수
* len() : 리스트 요소의 갯수를 리턴하는 내장 함수
* min() : 리스트 최소값을 리턴하는 내장 함수
* max() : 리스트 최대값을 리턴하는 내장 함수
* in, not in : 요소의 포함여부를 확인하여 True, False를 리턴하는 연산자
* sorted() : 원본 리스트는 그대로 두고 정렬된 새로운 리스트 리턴

In [ ]:
# 예제) index() : 특정 요소의 위치값을 리턴 ("c" 찾기)

a = ("a", "b", "c", "d", "e", "f", "g", "h", "i","a", "b", "c")
print(a.index("c"))

In [ ]:
# 예제) index() : 특정 요소의 위치값을 리턴 ("z" 찾기) - 오류 발생

a = ("a", "b", "c", "d", "e", "f", "g", "h", "i","a", "b", "c")
print(a.index("z"))

In [ ]:
# 예제) index("찾고자하는 문자열", 시작위치값)
# 특정 요소의 위치값을 리턴 (5번째 요소 이후에 있는"c" 찾기)

print(a.index("c",4))

In [ ]:
# 예제) count() : 인자값 포함 요소의 갯수 리턴

print(a.count("b"))

In [ ]:
# 예제) len() : 리스트내 요소의 갯수 리턴

print(len(a))

In [ ]:
# 예제) min(), max() : 리스트내 최소값, 최대값

print(min(a))
print(max(a))

In [ ]:
# 예제) in, not in : 리스트내 포함여부 확인하여 True, False 리턴

print("d" in a)
print("d" not in a)

In [ ]:
# 예제) sorted(reverse=True) : 소팅만 역순으로 하고하고 값은 변하지 않음

a = (1, 2, 3, 9, 8, 7, 6, 5, 4)
print(sorted(a,reverse=True))

print(a)

### 4) 튜플을 사용하는 이유

* tuple() : 리스트 등의 자료형을 튜플로 변환

In [ ]:
a = [1, 2, 3, 4, 5]
b = tuple(a)
print(b)

* list() : 튜플을 리스트로 변환

In [ ]:
a = (1, 2, 3, 4, 5)
b = list(a)
print(b)