# 1. 예외 처리

In [ ]:
# 예외처리 미적용

a = 10
b = 0

c = a / b

In [ ]:
# 예외처리 적용

try:
    a = 10
    b = int(input("나눌 숫자를 입력하세요."))

    c = a / b
except:
    print("오류 발생하였으니 다시 입력하세요")

### 2) 예외 종류별 예외처리

In [ ]:
# ZeroDivision Error
try:
    a = 10
    b = int(input("나눌 숫자를 입력하세요."))
    c = a / b
except ZeroDivisionError:
    print("0 이외의 숫자를 입력하세요")

In [ ]:
# NameError
try:
    a = 10
    print(aa)
except NameError:    
    print("변수를 초기화해주세요")

In [ ]:
# ValueError
try:
    b = int("a")
except ValueError:
    print("값의 형식이 맞지 않습니다.")

In [ ]:
# IndexError
a = "abc"

try:
    print(a[3])
except IndexError:
    print("인덱스 범위를 벗어났습니다.")

In [ ]:
# TypeError

a = 1
b = "abc"

try:
    c = a + b
except TypeError:
    print("타입을 맞춰주세요")

In [ ]:
dir(Exception)

### 3) 발생 오류 메세지 변수 포함

In [4]:
try:
    f = open("abc.txt", "w")
    c = 10 / 0
    f.write(str(c))
except ZeroDivisionError as e:
    print("오류발생 : ", e)
finally:    
    f.close()
    print("파일 close")

오류발생 :  division by zero
파일 close

### 4) 여러 개 오류 처리

In [7]:
try:
    c = [1, 2]
    print(z)
    print(c[2])
except IndexError as e1:
    print("오류발생 : ", e1)
except NameError as e2:   
    print("오류발생 : ", e2)
    
print(1)

오류발생 :  name 'z' is not defined
1

In [9]:
try:
    c = [1, 2]
    print(c[2])
    print(z)    
except (IndexError, NameError) as e1:
    print("오류발생 : ", e1)

오류발생 :  list index out of range

# 2. 예외 회피 / 발생

### 1) 예외 회피

In [10]:
try:
    f = open("abc2222.txt", "r")
    content = f.read()
    print(content)
except FileNotFoundError:
    pass

print("a")

a

### 2) 예외 발생

In [14]:
class Person:
    def set_data(self):
        raise NotImplementedError
        
class ClubMember(Person):
    pass

clubmember = ClubMember()
clubmember.set_data()

NotImplementedError:

### 3) 예외 만들기

In [16]:
# 예외 클래스 생성 : Exception 예외클래스 상속

class CustomError(Exception):
    pass

# raise로 CustomError 발생

def input_data(a):
    if a == 0 :
        raise CustomError
        
    print(a)
    
a = float(input("0을 제외한 숫자를 입력하세요 : "))    
input_data(a)

0을 제외한 숫자를 입력하세요 : 0

CustomError:

In [19]:
# 예외 클래스 생성 : Exception 예외클래스 상속

class CustomError(Exception):
    pass

# raise로 CustomError 발생
# 예외 처리

def input_data(a):
    if a == 0 :
        raise CustomError
        
    print(a)

try:  
    a = float(input("0을 제외한 숫자를 입력하세요 : "))    
    input_data(a)   
except CustomError:
    print("0을 입력하였습니다.")
except:
    print("알 수 없는 오류 발생")

0을 제외한 숫자를 입력하세요 : a
알 수 없는 오류 발생

# 1. 파이썬 내장함수

* abs(x) : 입력받은 수의 절대값을 반환하는 함수

In [20]:
# 1의 절대값과 -3.5의 절대값을 출력해보세요

print(abs(1))

print(abs(-3.5))

1
3.5

* all(iterable)
    * iterable : list, tuple, set 등 순회가능한 객체 받음
    * 모든 자료형의 요소가 참 : True
    * 자료형의 하나라도 거짓이면 : False

In [22]:
# [1,2,3], [True, True, False]를 all함수의 인자값으로 전달

print(all([0,1,2,3]))
print(all([True, True, False]))

False
False

In [25]:
# [1,2,3], [True, True, False]를 any함수의 인자값으로 전달

print(any([1,2,3]))
print(any([True, True, False]))

True
True

* chr(i) : 아스키코드(숫자)를 입력받아 문자를 출력하는 함수

In [28]:
print(ord('a'))

97

* dir(object) : 객체내 포함되어 있는 변수, 메서드 리스트 제공

In [30]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

* divmod(a, b) : 2개의 숫자를 입력받아 a를 b로 나눈 몫과 나머지 튜플 형태로 반환

In [31]:
print(divmod(5,2))

(2, 1)

* enumerate

In [34]:
print(list(enumerate([1,2,3,4,5],1)))

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]

In [38]:
# eval

s = "1 + 2"
print(eval(s))

print(eval('divmod(3,4)'))

3
(0, 3)

In [41]:
def positive(value):
    return value > 0

print(list(filter(positive, [-3,2,-1,0,2,3])))

[2, 2, 3]

In [43]:
a = 3
b = a

print(id(a))
print(id(b))

2539706739056
2539706739056

In [44]:
# int
int('3')

3

In [45]:
# isinstance
class Person:
    pass

p = Person()

print(isinstance(p,Person))

True

In [47]:
#len

print(len("hello"))
print(len([1,2,3,4,5]))

5
5

In [48]:
# list

print(list("hello"))
print(list((1,2,3,4,5)))

['h', 'e', 'l', 'l', 'o']
[1, 2, 3, 4, 5]

In [50]:
def two_times(value):
    return value * 2

print(list(map(two_times, [1,2,3,4,5])))

print(list(map(lambda x : x * 2, [1,2,3,4,5])))

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [52]:
# max, min

print(max((3,6,12,4,6,7)))
print(min((3,6,12,4,6,7)))

3

In [54]:
# chr, ord
print(chr(67))

print(ord('C'))

C
67

In [56]:
# pow(x, y)

print(pow(2, 4))
print(2 ** 4)

16
16

In [59]:
# range
# 0 ~ 4까지 만들어서 리스트로 출력

print(list(range(5)))

[0, 1, 2, 3, 4]

In [62]:
# 5 ~ 10까지 만들어서 리스트로 출력
print(list(range(5,11)))

[5, 6, 7, 8, 9, 10]

In [65]:
# 1 ~ 10까지 홀수 만들어서 리스트로 출력
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [70]:
# 1 ~ -9까지의 숫자를 1의 간격으로 리스트로 출력
print(list(range(1, -10, -1)))

[1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [73]:
# round 예제
# 5.56 반올림
# 5.56 소숫점 첫째자리까지 출력

print(round(5.56))
print(round(5.56, 1))

6
5.6

In [76]:
# sorted(iterable)
# [1,3,2,6,5] 적용
# "hello"

print(sorted([1,3,2,6,5]))
print(sorted("hello"))

[1, 2, 3, 5, 6]
['e', 'h', 'l', 'l', 'o']

In [79]:
# str(object)

print(str(3))
print(type(str(3)))
print(type(3))

3
<class 'str'>
<class 'int'>

In [83]:
# [1,2,3] 을 문자열로 변환

print(type(str([1,2,3])))

<class 'str'>

In [85]:
# sum(iterable)

print(sum([1,2,3,4,5]))

15

In [87]:
# tuple(iterable)

print(tuple([1,2,3,4,5]))

(1, 2, 3, 4, 5)

In [92]:
# zip
# [1,2,3], [4,5,6] zip으로 묶기
# [1,2,3], [4,5,6], [7,8,9] zip으로 묶기
# 문자열 "abc", "def" zip으로 묶기

print(list(zip([1,2,3],[4,5,6])))
print(list(zip([1,2,3],[4,5,6],[7,8,9])))
print(list(zip("abc","def")))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

# 1. import 구문

In [94]:
import math

print(math.pow(5,3))

125.0

In [95]:
from math import pow

print(pow(5,3))

125.0

In [96]:
from math import *

print(pow(5,3))

125.0

In [97]:
from math import pow as p

print(p(5,3))

125.0

# 2. math

In [99]:
import math

# sqrt(x) : 제곱근

math.sqrt(10)

3.1622776601683795

In [100]:
# pow() : 제곱

math.pow(5,3)

125.0

In [101]:
# factorial() : 계승

math.factorial(5)

120

In [104]:
# sin, cos, tan : 삼각함수

print(sin(0.9))
print(cos(1.2))
print(tan(0.9))

1.2601582175503392

In [ ]:
# asin, acos, atan : 역삼각함수

In [105]:
# ceil : 올림

math.ceil(20.3333)

21

In [106]:
# floor : 내림

math.floor(20.3333)

20

In [107]:
# fabs : 절대값

math.fabs(-20)

20.0

In [112]:
# trunc : 소수점 이하 버림

math.trunc(20.333)

20

In [113]:
# log 

math.log(100, 10)

2.0

In [114]:
# log10

math.log10(100)

2.0

In [118]:
# pi 상수

math.pi

3.141592653589793

# 3. statistics

In [131]:
import statistics

points = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 50, 50, 50, 60]

In [120]:
# mean() : 평균값

statistics.mean(points)

55

In [132]:
# median() : 중앙값

statistics.median(points)

50.0

In [133]:
# mode() : 최빈값

statistics.mode(points)

50

In [134]:
# pstdev() : 모표준편차

statistics.pstdev(points)

24.411439272335805

In [135]:
# stdev() : 표준편차

statistics.stdev(points)

25.332947751066037

In [136]:
# variance() : 분산

statistics.variance(points)

641.7582417582418

# 4. time

In [139]:
import time

In [141]:
time.time()

1665550463.746353

In [143]:
# ctime : 날짜, 시간 문자열로 리턴

print(time.ctime())

print(time.ctime(1665550463.746353))

Wed Oct 12 13:55:14 2022
Wed Oct 12 13:54:23 2022

In [153]:
# localtime

now = time.localtime()
print(now)
print(now.tm_year)
print(now.tm_mon)
print(now.tm_mday)

# 000년 00월 00일 00일에
print(f"{now.tm_year}년 {now.tm_mon}월 {now.tm_mday}일에")

# time() 결과값으로 localtime() 만들기
now = time.localtime(1665550463.746353)
print(now)

time.struct_time(tm_year=2022, tm_mon=10, tm_mday=12, tm_hour=13, tm_min=59, tm_sec=13, tm_wday=2, tm_yday=285, tm_isdst=0)
2022
10
12
2022년 10월 12일에
time.struct_time(tm_year=2022, tm_mon=10, tm_mday=12, tm_hour=13, tm_min=54, tm_sec=23, tm_wday=2, tm_yday=285, tm_isdst=0)

In [154]:
# asctime() : 

time.asctime()

'Wed Oct 12 14:00:03 2022'

In [155]:
# sleep : 인수로 받은 만큼 시간을 멈춘 후 수행

for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [157]:
start = time.time()

time.sleep(5)

end = time.time()

print(end - start)

5.007996082305908

# 5. calendar

In [158]:
import calendar

In [165]:
# calendar : 연도 달력

print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [167]:
# prcal : 연 달력, 정렬됨

calendar.prcal(2022)

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [164]:
# month : 월 달력

print(calendar.month(2022, 10))

    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [172]:
# setfirstweekday() : 첫 칸 요일 설정
# 일요일을 첫칸으로 설정 : 월-0, 화-1, 일-6

calendar.setfirstweekday(6)
print(calendar.month(2022, 10))

    October 2022
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [173]:
# weekday : 어떤 요일인지 확인

calendar.weekday(2022,10,12)

2

In [174]:
# monthrange : 해당월의 1일이 무슨 요일인지, 며칠까지 있는지 반환

calendar.monthrange(2022, 10)

(5, 31)

# 6. random

In [175]:
import random

In [176]:
# random() : 0에서 1미만의 실수 한개 생성

print(random.random())

0.56641380036481

In [179]:
# randint(begin, end) : begin-end 사이의 정수형 난수(end 포함)

print(random.randint(1, 10))

8

In [181]:
# randrange(begin, end) : begin-end 사이의 정수형 난수(end 미포함)

print(random.randrange(1, 10))

6

In [182]:
# uniform(begin, end) : begin-end 사이의 실수형 난수 발생

print(random.uniform(1,10))

7.308572353083915

In [185]:
# choice(iterable) : 요소 한개 선택하여 리턴

nums = [1,2,3,4,5,6,7,8,9]
print(random.choice(nums))

8

In [188]:
# shuffle(iterable) : 요소 섞기

nums = [1,2,3,4,5,6,7,8,9]
random.shuffle(nums)
print(nums)

[9, 4, 8, 3, 7, 5, 1, 6, 2]

In [190]:
# sample(iterable, n) : 요소 중 n개를 뽑아 새루운 리스트를 생성

num = random.sample([1,2,3,4,5,6,7,8,9], 3)
print(num)

[8, 9, 6]

# 7. sys 모듈

In [191]:
import sys

In [192]:
print(sys.version)

print(sys.platform)

print(sys.path)

3.9.10 (tags/v3.9.10:f2f3f53, Jan 17 2022, 15:14:21) [MSC v.1929 64 bit (AMD64)]
win32
['D:\\0.컨설팅\\교안\\[KDT] Python\\Code', 'c:\\pythonwork', 'C:\\Python39\\python39.zip', 'C:\\Python39\\DLLs', 'C:\\Python39\\lib', 'C:\\Python39', '', 'C:\\Users\\multicampus\\AppData\\Roaming\\Python\\Python39\\site-packages', 'C:\\Users\\multicampus\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32', 'C:\\Users\\multicampus\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32\\lib', 'C:\\Users\\multicampus\\AppData\\Roaming\\Python\\Python39\\site-packages\\Pythonwin', 'C:\\Python39\\lib\\site-packages']

In [193]:
# sys.path.append(path) : path에 경로를 추가하는 메서드

sys.path.append("c:\temp")
print(sys.path)

['D:\\0.컨설팅\\교안\\[KDT] Python\\Code', 'c:\\pythonwork', 'C:\\Python39\\python39.zip', 'C:\\Python39\\DLLs', 'C:\\Python39\\lib', 'C:\\Python39', '', 'C:\\Users\\multicampus\\AppData\\Roaming\\Python\\Python39\\site-packages', 'C:\\Users\\multicampus\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32', 'C:\\Users\\multicampus\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32\\lib', 'C:\\Users\\multicampus\\AppData\\Roaming\\Python\\Python39\\site-packages\\Pythonwin', 'C:\\Python39\\lib\\site-packages', 'c:\temp']

# 8. pickle 모듈

In [194]:
import pickle

In [195]:
# 객체를 파일로 저장 : dump() 활용

f = open("pickle_test.txt", "wb")
data = [1, 2, 3, 4, 5]

pickle.dump(data, f)

f.close()

In [198]:
# 저장된 객체를 불러오기 : load() 활용

f = open("pickle_test.txt", "rb")
data = pickle.load(f)

print(data)
print(type(data))

f.close()

[1, 2, 3, 4, 5]
<class 'list'>

# 9. webbrowser 모듈

In [199]:
# open()
import webbrowser

webbrowser.open("www.naver.com")

True

# 1. 반복자

In [7]:
nums = [1,2,3,4,5]
it = iter(nums)

print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

1
2
3
4
5

StopIteration:

In [8]:
nums = [1,2,3,4,5]
it = iter(nums)

while True:
    try:
        num = next(it)
    except StopIteration:
        break
    
    print(num)

1
2
3
4
5

# 2. 제너레이터

In [10]:
def genTest():
    print("a")
    yield "1"
    
    print("b")
    yield "2"
    
print(genTest())

g = genTest()
print(next(g))
print(next(g))

<generator object genTest at 0x00000168EAA1DEB0>
a
1
b
2

In [11]:
for i in getTest():
    print(i)

a
1
b
2

In [12]:
n = 100000000000000000000

big_gen = (i for i in range(0, n))       

print(next(big_gen))
print(next(big_gen))
print(next(big_gen))

0
1
2

In [2]:
num = [1,2,3,4,5]
it = iter(num)

print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

1
2
3
4
5

StopIteration:

In [4]:
num = [1,2,3,4,5]
it = iter(num)

while True:
    try:
        num = next(it)
    except StopIteration:
        break
        
    print(num)

1
2
3
4
5

In [9]:
class Myiter:
    def __init__(self, data):
        self.data = data
        self.index = -3
    def __iter__(self):
        return self
    def __next__(self):
        self.index += 3
        
        if self.index >= len(self.data):
            raise StopIteration
        
        return self.data[self.index:self.index+3]

daylist = Myiter("MonTueWedThrFrySatSun")
                         
for day in daylist:
    print(day)

Mon
Tue
Wed
Thr
Fry
Sat
Sun
M
o
n
T
u
e
W
e
d
T
h
r
F
r
y
S
a
t
S
u
n

In [18]:
def genTest():
    print("a")
    yield "1"
    print("b")
    yield "2"
 
next(genTest())

for i in genTest():
    print(i)

a
a
1
b
2

In [23]:
import sys

print(sys.getsizeof( [ i for i in range(100) ] ))
print(sys.getsizeof( [ i for i in range(1000) ] ))
print(sys.getsizeof( ( i for i in range(100) ) ))
print(sys.getsizeof( ( i for i in range(1000) ) ))

920
8856
112
112

In [28]:
a = ( i for i in range(1000) )

for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [33]:
def myfunc(func, name):
    return func(name)
    
def Hello(name):
    return "Hello : " + name

def Hi(name):
    return "Hi : " + name

print(myfunc(Hello, "홍길동"))
print(myfunc(Hi, "홍길동"))

Hello : 홍길동
Hi : 홍길동

In [ ]:
def pointSum(n):
    def plus(point, add):
        return point + add
    
    point = 0
    for i in range(0, n+1):
        point = plus(point,i)
    return point

In [37]:
def inner():
    print("inner main")
    
def outer(func):
    print("*" * 20)
    func()
    print("*" * 20)
    
outer(inner)

********************
inner main
********************

In [42]:
def inner():
    print("inner main")
    
def outer(func):    
    def wrapper():        
        print("*" * 20)
        func()
        print("*" * 20)
        
    return wrapper
    
a = outer(inner)    
a()

********************
inner main
********************

In [43]:
def outer(func):    
    def wrapper():        
        print("*" * 20)
        func()
        print("*" * 20)
        
    return wrapper

@outer
def inner():
    print("inner main")

inner()

********************
inner main
********************

In [ ]:
def tagadd(func):
    def wrapper():
        return "<p>" + func() + "<p>"
    return wrapper

@tagadd
def name():
    return "홍길동"

@tagadd
def city():
    return "도시"

print(name())
print(city())

In [46]:
class Outer:
    def __init__(self, func):
        self.func = func
    def __call__(self):
        print("*" * 20)
        self.func()
        print("*" * 20)

@Outer        
def inner():
    print("데코레이터")
    
inner()

********************
데코레이터
********************

In [68]:
from tkinter import *

main = Tk()
main.title("윈도우화면")
main.geometry("500x500")

lbl = Label(main, text="라벨", font = "arial 15")
lbl.pack()

def appleClick():
    lbl["text"] = "Apple"
    
def orangeClick():
    lbl["text"] = "Orange"

    
apple = Button(main, text="Apple", font = "arial 15", foreground="Red", command = appleClick)
apple.pack()

orange = Button(main, text="Orange", font = "arial 15", foreground="Green", command = orangeClick)
orange.pack()
    
main.mainloop()

In [2]:
from tkinter import *
import tkinter.messagebox
import tkinter.simpledialog

main = Tk()
main.title("윈도우")
main.geometry("500x500")

lbl1 = Label(main, text="Label1", font="arial 15")
lbl1.pack()

lbl2= Label(main, text="Label2", font="arial 15")
lbl2.pack()

lbl3= Label(main, text="Label3", font="arial 15")
lbl3.pack()

lbl4= Label(main, text="Label4", font="arial 15")
lbl4.pack()

lbl5 = Label(main, text="Label5", font="arial 15")
lbl5.pack()

lbl6 = Label(main, text="Label6", font="arial 15")
lbl6.pack()

lbl7 = Label(main, text="Label7", font="arial 15")
lbl7.pack()

tkinter.messagebox.showinfo("정보", "showinfo 함수")
tkinter.messagebox.showwarning("경고", "showwarning 함수")
tkinter.messagebox.showinfo("에러", "showerror 함수")

a = tkinter.messagebox.askyesnocancel("선택", "askyesnocancel 함수")
b = tkinter.messagebox.askokcancel("선택", "askokcancel 함수")
c = tkinter.messagebox.askretrycancel("선택", "askretrycancel 함수")
d = tkinter.messagebox.askquestion("선택", "askquestion 함수")

lbl1["text"] = a
lbl2["text"] = b
lbl3["text"] = c
lbl4["text"] = d

def askQuestion():
    e = tkinter.simpledialog.askstring("선택", "askstring 함수")
    f = tkinter.simpledialog.askstring("선택", "askinteger 함수")
    g = tkinter.simpledialog.askfloat("선택", "askfloat 함수")
    
    lbl5["text"] = e
    lbl6["text"] = f
    lbl7["text"] = g
    
btn = Button(main, text="클릭", command=askQuestion)
btn.pack()

main.mainloop()

In [4]:
from tkinter import *
import tkinter.messagebox

main = Tk()
main.title("menu")

menubar = Menu(main)
main.config(menu=menubar)
menubar.add_command(label="파일")
menubar.add_command(label="도구")
menubar.add_command(label="종료")

def show():
    tkinter.messagebox.showinfo("확인", "팝업확인")
    
popup = Menu(menubar)
menubar.add_cascade(label="팝업메뉴", menu=popup)
popup.add_command(label="팝업확인", command=show)
popup.add_command(label="팝업닫기")

main.mainloop()